<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="/texture/favicon.ico">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla Slab">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"> -->

  <script>
    const currentSong = <%- JSON.stringify(locals.song) || 'undefined' %>
  </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="/script.js" defer></script>
  <title>Pangolingo:~</title>
</head>
<body>
  <div class="parent">
    <div class="child container">
        <h1><i class="fas fa-meteor"></i> Pangolingo:~</h1>
        <p>Compose+Share=></p>
        <p id="displayDateTime"></p>
    </div>
    <div class="child container1"></div>
        <div class="child container2">
          <p id="play" class ="info <%= locals.song != null ? 'show' : '' %>">
            Press Play <i class="fas fa-play"></i> to listen to your friends tune. <br> ***
          </p>
          <br>
          <p id="play">
            Compose a tune with <i class="fas fa-th"></i> numpad <br> <i class="fas fa-share"></i> Share with your friends.
          </p>
        </div>
        <div class="child container3"></div>
        <div class="child container4"></div>
        <div class="child container5">
            <div class="piano" data-role="keys">
              <button data-freq="261.63" data-note="C" class="key white">0</button>
              <button data-freq="277.18" data-note="Db" class="key black">1</button>
              <button data-freq="293.66" data-note="D" class="key white">2</button>
              <button data-freq="311.13" data-note="Eb"  class="key black">3</button>
              <button data-freq="329.63" data-note="E"  class="key white">4</button>
              <button data-freq="349.23" data-note="F"  class="key white">5</button>
              <button data-freq="369.99" data-note="Gb"  class="key black">6</button>
              <button data-freq="392.0" data-note="G" class="key white">7</button>
              <button data-freq="415.3" data-note="Ab"  class="key black">8</button>
              <button data-freq="466.16" data-note="A"  class="key white">9</button>
              <button data-freq="493.88" data-note="Bb"  class="key black">A</button>
              <button data-freq="523.25" data-note="B" class="key white">B</button>
            </div>
                
            <div data-role="controls" class="buttons">
              <button id="Record" class="record-button btn" ><i class="fas fa-circle"></i></button>
              <button id="Play" class="play-button btn <%= locals.song != null ? 'show' : '' %>" ><i class="fas fa-play"></i></button>
              <button id="Save" class="save-button btn <%= locals.song != null ? 'show' : '' %>" ><i class="fas fa-arrow-down"></i></button>
              <button id="Save" class="share-button btn <%= locals.song != null ? 'show' : '' %>" ><i class="fas fa-share"></i></button>
              <!-- <p>  1.Record &nbsp;->&nbsp; 2.Play &ensp;->&ensp; 3.Save &ensp;->&nbsp; 4.Share</p> -->
              <p>  &ensp; Record &ensp;=>&ensp; Play &ensp;=>&ensp; Save &ensp;=>&ensp; Share</p>
            </div>
              <!-- <a id="Share" href="#" class="song-link btn <%= locals.song != null ? 'show' : '' %>" ><i class="fas fa-share"></i></a> -->
              <!-- <% if (locals.song == null ) { %>
                <button id="Record" class="record-button btn"><i class="fas fa-circle"></i></button>
                <button class="save-button btn" id="Save"><i class="fas fa-arrow-down"></i></button>
              <% } else { %>
                <a href="/" class="btn" id="Share"><i class="fas fa-share"></a>
              <% } %>
              <button id="Play" class="play-button btn <%= locals.song != null ? 'show' : '' %> "><i class="fas fa-play"></i></button> -->
              <!-- <a href="#" class="btn song-link">View Song</a> -->
              <!-- <p id="play">Play-Record-Listen-Download-Share<br>No Data Stored in the server.</p> -->
        </div>
        <div class="child container6"></div>
  </div>  
  <div class="overlay"></div>
  <div class="share">
    <h2>Share your Pangolingo:~ tunes with this Link</h2><br>
    <a href="#" id="url">-</a>
  </div>

  <canvas class="webgl"></canvas>
  <script type="module" src="/index.js"></script>
  <script type="text/javascript" src="/dat.gui.min.js"></script>
</body>
</html>